doctype transitional
html
    head
        meta(http-equiv = 'Content-Type', content = 'text/html; charset=UTF-8')
        title= subject
        body
            h1.h1 New Password generated for #{firstName} #{lastName}
            p
                p Here is a new password generated for user #{firstName} #{lastName} (Email: #{email}):
                strong #{password}

                p Please login using this password in the dashboard.